.App {
  text-align: center;
  background-color: #e1e8e7;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
}
.product-catalog{
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top:30px;
  margin-left:400px;
}


.navigation-bar{
  height: 5em;
  background: #A8BFBD	;
  display: flex;
  flex-direction: row;
  color: black;
}


.navigation-bar a{
  text-decoration:none;
  font-weight: 800;
  align-items: center;
  align-self: center;
  color:darkblue;
  padding: 0 10px 0 10px;
}

.navigation-bar a:hover{
  background-color:#464478;
  color:white;
}

.ui.modal>.image.content {
flex-wrap: wrap;
}

.review-section{
  margin-top:50px;
  width: 100%;
}

.navigation-bar-item {
  margin-left: 30px;
  line-height: 4;
}

.navigation-bar-item:first-child {
  margin-left: 90px;
}