

.card-buttons{
    display: flex;
    justify-content: space-evenly;
}
.product-catalog .product-card{
  margin-top: 10px!important;
  margin-left: 10px;
  height: inherit;
  max-width: 250px;

}
.product-catalog .product-card .image{
  width: 250px!important;
}
.product-catalog .product-card .image img{
  height: 230px;
}

.product-catalog .product-card .content{
  max-height: 100px;
}
